@import "./Utilidades/variables";
@import "./base/reset"; 
@import "./estructura/body";
@import "./estructura/header";
@import "./estructura/main"; 
@import "./estructura/footer";
@import "./pages/mainnosotras";
@import "./pages/maintienda"; 


@media (max-width: 768px) {
    header nav ul {
        flex-direction: column;
        align-items: center;
    }

    footer .row {
        text-align: center;
    }
}
